
.ws_warp {
	margin: 4px 15px 0 0;
}

ul.subsubsub li.ui-tabs-selected a{
	color:#000;
}

.ws_warp .page_title{
	float:left;
}

.ws_warp #btn_newform{
	display:block;
	width: 10%
}

.ws_warp .delete_row input{
	display: block;
	width: 10px;
}

  .ws_warp #addRow {
 	float:right;
 }

 .ws_warp #submit {
 	display:block;
 	width:10%;
 	height:30px;
 	margin:auto;
 	margin-top: 2%;
 }

 .ws_warp .cb {
   	clear:both;
   	padding:0;
   	margin:0;
   	width:0px;
   	height:0px;
 }

.ws_warp .radio_admin li {
	padding-left: 1%;
	float:left;
}


.ws_warp .plateformes_label {
	float:left;
	width:10%;
}

.ws_warp .plateformes_select {
	float:left;
	width:30%;
}


#ws_customizable_inputs .short {
	width:5%;
}

#ws_customizable_inputs .large {
	width:8%;
}
#ws_customizable_inputs tbody input {
	width: 100%;
}

#ws_customizable_inputs tbody .delete_row input {
	width: 10px;
}


.ws_warp .sorting_asc{
	background: #F1F1F1 url("../../images/sort_asc.png") no-repeat;
	background-position: center right ;
}


.ws_warp .sorting_desc{
	background: #F1F1F1 url("../../images/sort_desc.png") no-repeat;
	background-position: center right ;
}

.ws_warp .sorting_desc:hover{
	color:#D54E21;
}

.ws_warp .sorting_asc:hover{
	color:#D54E21;
}


.ws_warp .sorting, .ws_warp .sorting_asc,.ws_warp .sorting_desc{
	color:#21759B;
}

.ws_warp .sorting:hover{
	background: #F1F1F1 url("../../images/sort_asc.png") no-repeat;
	background-position: center right ;
	color:#333;
}

.ws_warp .dataTables_filter{
	float:right;
	padding-bottom: 10px;
}

.ws_warp .dataTables_info,.ws_warp .dataTables_paginate{
	padding-top: 10px;
	float:right;
	clear:both;
}

.ws_warp .paginate_button {
	border-color: #E3E3E3;
	color:#21759B;
	background:#EEE url('../../images/menu-bits.gif?ver=20100610') repeat-x scroll left -379px;
	padding:3px 6px;
	font-size: 12px;
	margin-left: 2px;
}

.ws_warp .paginate_button_disabled{
	color:#AAA;
}


