
.ws_warp {
	margin: 4px 15px 0 0;
}


.ws_warp .page_title {
	width:100%;
	text-align:center;
	margin-bottom: 1%;
}

.ws_warp h1 {
	color: #555;
	text-align: left;
}
.ws_warp h2 {
	text-decoration: none;
	color: #7E97B2;
	clear: both;
	text-align: left;
	font-size: 1.2em;
}

ul.subsubsub li.ui-tabs-selected a{
	color:#000;
}


.ws_warp table {
 margin: 2% 0%;
 border-collapse:collapse;
 width:100%;
 border:2px solid #CFD5DB;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
 }

.ws_warp th, .ws_warp td {
 border-top:1px solid #DBE4EE;

 }
.ws_warp td {
 text-align:center;
 }

.ws_warp caption {
 font-weight:bold
 }

 .ws_warp .button {
 	display: block;
 	padding: 0.8em 0.5em;
 	text-align: center;
 	color:#000;
 	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background: rgb(255,255,255); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2UxZTFlMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */


 }


.ws_warp .radio_admin li{
	float: left;
	padding-left: 5%;
}

.ws_warp .button:hover {
	border : 2px solid black;
}

.ws_warp #btn_newform{
	width: 10%
}

.ws_warp .delete_row input{
	width: 10px;
}

  .ws_warp #addRow {
 	float:right;
 }

 .ws_warp #submit {
 	display:block;
 	width:10%;
 	height:30px;
 	margin:auto;
 	margin-top: 2%;
 }

 .ws_warp .cb {
   	clear:both;
   	padding:0;
   	margin:0;
   	width:0px;
   	height:0px;
 }

.ws_warp .manager a {
	color:#666;
}
 .ws_warp .manager td {
 	font-size:1.5em;
 	font-weight: bold;
 }

 .ws_warp .manager {
 	width: 100%;
 }
.ws_warp .plateformes {
	margin-top:0.5em;
}

.ws_warp .plateformes_label {
	float:left;
	width:10%;
}

.ws_warp .plateformes_select {
	float:left;
	width:30%;
}

.ws_warp td input {
	width: 100%;
}

.ws_warp .odd {
	background-color: #EEEEEE;
}

.ws_warp .description {
	text-align: left;
}

.ws_warp #ws_formals .large {
	width:20%
}


.ws_warp #ws_inputs_table .large {
	width:20%
}

.ws_warp .big_input {
	height: 1.6em;
	font-size: 1.5em;
	color:#5B646E;
	font-weight: bold;
}

.ws_warp .label input{
	font-weight: bold;
	font-size: 1.2em;
	color:#003774;
}

.ws_warp .table_head {
	font-size: 1.2em;
	height: 50px;
	color:#A9B8C9;
	font-weight: bold;
}

.ws_warp .other_infos {
	text-align: left;
}


/* TRANSACTIONS */

.ws_warp .ws_transacton_box{
	display: block;
	float: left;
	width: 10%;
	text-decoration: none;
	color:#000;
	margin-left: 2em;
	margin-bottom: 2em;
	padding:2em;
}

.ws_warp .ws_transacton_box h2{
	color:#555;
}

.ws_warp .transactions td {
	font-size: 1.5em;
}

.ws_transactionwarp{
	width: 70%;
	margin: auto;
	text-align: center;
}