.ws_warp {
	margin: 4px 15px 0 0;
}

.btn{
  text-decoration: none;
}

ul.subsubsub li.ui-tabs-selected a{
	color:#000;
}

.ws_warp .page_title{
	float:left;
}

.ws_warp .delete_row input{
	display: block;
	width: 10px;
}

.ws_warp input.addRow {
	display: block;
	padding: 4px 8px;
	float: right;
}

.result_server_link .label{
  float:left;
  margin: 0px 5px 0px 0px;
}
.result_server_link p{
  line-height: 18px;  
}

td.short.check{
	text-align: center;
}

.table td{
  vertical-align: middle !important;
}

.table td.action{
  text-align: right;
}

td.short input[type="checkbox"], td.short input[type="radio"]{
	width: 16px !important;
	text-align: center;
}

.short.check {
	width: 21px !important;
}

input.hidden, select.hidden{
	display: none;
}

#tabs tbody.loading{
	background-image: url("../../images/ajax-loader.gif");
	padding: 10px 0px;
	display: block !important;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: 49%;
}

.ws_warp div.group {
	margin: 0px 0px 40px 0px;
}



  .ws_warp #addRow {
 	float:right;
 }

 .ws_warp #submit {
 	display:block;
 	margin:auto;
 	margin-top: 2%;
 	width:10%;
 	height:30px;
 }

 .ws_warp .cb {
   	clear:both;
   	margin:0;
   	padding:0;
   	width:0px;
   	height:0px;
 }

.ws_warp .radio_admin li {
	float:left;
	padding-left: 1%;
}


.ws_warp .plateformes_label {
	float:left;
	width:10%;
}

.ws_warp .plateformes_select {
	float:left;
	width:30%;
}


#ws_customizable_inputs .short {
	width:4%;
}

#ws_customizable_inputs .delete {
	width:7px;
}


#ws_customizable_inputs .large {
	width:8%;
}
#ws_customizable_inputs tbody input {
	width: 100%;
}

#ws_customizable_inputs tbody .delete_row input {
	width: 10px;
}


.ws_warp .sorting_asc{
	background: #F1F1F1 url("../../images/sort_asc.png") no-repeat;
	background-position: center right ;
}


.ws_warp .sorting_desc{
	background: #F1F1F1 url("../../images/sort_desc.png") no-repeat;
	background-position: center right ;
}

.ws_warp .sorting_desc:hover{
	color:#D54E21;
}

.ws_warp .sorting_asc:hover{
	color:#D54E21;
}


.ws_warp .sorting, .ws_warp .sorting_asc,.ws_warp .sorting_desc{
	color:#21759B;
}

.ws_warp .sorting:hover{
	background: #F1F1F1 url("../../images/sort_asc.png") no-repeat;
	background-position: center right ;
	color:#333;
}

.ws_warp .dataTables_filter{
	float:right;
	padding-bottom: 10px;
}

.ws_warp .dataTables_info,.ws_warp .dataTables_paginate{
	float:right;
	clear:both;
	padding-top: 10px;
}

.ws_warp .paginate_button {
	margin-left: 2px;
	padding:3px 6px;
	border-color: #E3E3E3;
	background:#EEE url('../../images/menu-bits.gif?ver=20100610') repeat-x scroll left -379px;
	color:#21759B;
	font-size: 12px;
}

.ws_warp .paginate_button_disabled{
	color:#AAA;
}


td.large input, td.short input{
	width: 100%;
}

td.large select, td.short select{
	width: 100%;
}

#transactions_table th{
	cursor: pointer;
	font-size: 12px;
}

#transactions_table .amount{
	width: 65px !important;
}

#transactions_table .action{
	width: 75px !important;
	text-align: center;
}

#transactions_table .country{
	width: 50px !important;
	text-align: center;
}

#transactions_table tr.even{
	background-color: #EEF0F1;
}
