
.general_label
{
	text-align:right;
	padding-bottom:4px;
	width:40%;
	padding-right:10px;
}

.general_form{
	/*text-align: center;*/
	padding-bottom: 20px;
	padding-top: 20px;
}

.general_form td{
	position: relative;
}

label.error{
	float: right;
	font-size: 12px;
	position: absolute;
	position: absolute;
	top: 4px;
	right: -158px;
}

.wp-systempay.submit-box{
    text-align: right;
}

table.wp-systempay ul, table.wp-systempay li{
    margin-top: 0px !important;
    margin-left: 0px !important;
}

table.wp-systempay ul li{
    list-style: none !important;
    float: left;
}

ul > li > input[type=radio]{
    width:auto;
}
text-align: right;
.general_form table {
	width: 60%;
	margin-left: 80px;
	border-collapse:separate; 
	border-spacing:5px;
}


.general_form .radio_align {
	background: none !important;
	list-style: none;
}

.general_form table td select {
	width: 100%;
}

.general_form .submit_box {
	text-align: center;
}


.general_input
{
	height:20px;
	width:100%;
	padding-left:10px;
}

.fielset_form {
	margin-top:20px;
	 border:2px solid #A42673;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;
}

.fielset_form  legend{
	margin-left:10px;
	font-weight:bold;
}

.item_form {
	padding-bottom: 10px;
	clear: both;
}
.item_form  ul li{
	list-style-type:none;
	margin-left: -15px;
	margin-right: 10px;
}

.custom_form {
	width:80%;
	margin:auto;
	padding-top:23px;
	padding-bottom:23px;
}
.custom_form .general_input 
{
	height:20px;
	width:50%;
}

.radio_align {
	float:left;
}
.checkbox_align {
	float:left;
}
.error {
	color:red;
}


/* FAITES UN DON */
/* Faites un don -Formulaire */

#form_don .title_phase{
    font-size:14px;
    background-color:#e7e7e6;
    font-weight:bold;
    padding:7px;
}

#form_don .title_phase p {
    margin:0;
}

#form_don #donbox {
    padding: 20px 0px 0px 123px
}

#form_don #donbox p {
    margin:10px 0px 0px 0px;
}

#form_don #donbox p {
    margin:10px 0px 0px 0px;
}

#form_don #donbox .currency {
    display: inline;
    color:#c6156e;
    font-weight: bold;
    padding-left: 7px;
}

#form_don #donbox #donbox_input{
    width: 122px;
    height: 22px;
    border: 2px solid #c6156e;
}

#form_don #donbox .don_continuer {
    margin-top: 10px;
}

#form_don #donbox #setMoney{
    height: 80px;
    overflow: hidden;
}

#form_don #donbox #moneyInfo{
    height: 41px;
    overflow: hidden;
}

#form_don #donbox #modify {
    float:right;
    width: 35%;
    text-align: right;
    font-style: italic;
}

#don_formulaire
{
    width:75%;
    margin:auto;
    padding-top:23px;
}

#don_formulairebox{
    overflow: hidden;
}

#don_formulaire table
{
    width:100%;
}

#don_formulaire table input:focus
{
    border:2px solid #c6156e;
}

#don_formulaire table tr
{
    width:100%;
    clear:both;
}

.don_form .general_input
{
    height:20px;
    width:50%;
}

.don_continuer
{
    background:#632151 url(images/bg-navs.gif) repeat-x 1px 50px;
    color:white;
    margin: 26px 0px;
    font-size:10px;
    font-weight:bold;
    border:none;
    cursor: pointer;
    padding:6px 26px;

    background: #d9166f; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q5MTY2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NjFmNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d9166f 0%, #761f55 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9166f), color-stop(100%,#761f55)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d9166f 0%,#761f55 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d9166f 0%,#761f55 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d9166f 0%,#761f55 100%); /* IE10+ */
    background: linear-gradient(top,  #d9166f 0%,#761f55 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9166f', endColorstr='#761f55',GradientType=0 ); /* IE6-8 */
}

#form_don .alignleft{
	float:left;
}

#form_don .deduction{
	margin-top: 14px !important;
	margin-left: 20px !important;;
	float: left;
}

.don_continuer:hover
{
    color:grey;
}

.confirmation_buttons{
	width:100%;
}

.wp-systempay {
    width: 80%;
}
.table{
  width: 100%;
}
